notebooks/*
rascal_notebooks/*
benben_notebooks/data/*
benben_notebooks/course/*
benben_notebooks/homework/*
benben_notebooks/.ipynb_checkpoints/*
deeplearning.ai/*
benben_notebooks/coursera_homework/tmp/*
Untitled.ipynb